# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dont upload one file, in this case saved_model.pkl, inside models folder
models/Saved_model.pkl
# Dont upload one file in the repository without being nested in any folder
survey_results_public.csv
# Dont upload an entire folder
venv/